.body {
  width: 100%;
}

.row {  
  width: 100%;
  margin: 0px;
  margin-top: 47px;
  display: flex;
  flex-wrap: wrap;
}

.side {
  position: -webkit-sticky;
  position: sticky;
  flex: 25%;
  background-color: rgb(200, 200, 200);
  padding: 20px;
}

.main {
  text-align: center;
  flex: 75%;
  background-color: rgb(240, 240, 240);
}